## Importing Libraries

In [4]:
import pandas as pd
import numpy as np

# Datatime library for Date columns.
from datetime import datetime
import datetime as dt

# Importing preprocessing libraries. 
from sklearn.preprocessing import StandardScaler

# Importing various machine learning models.
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Importing model selection libraries.
from sklearn.model_selection import train_test_split

# Import metrics libraries for model evaluation.
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# Importing libraries for textual fields
import nltk
nltk.download('stopwords')
import string
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

## Import the dataset

In [5]:
df=pd.read_csv(r"C:\Users\devad\Desktop\ted_talks_en.csv")

## Exploring the data

In [6]:
pd.set_option('display.max_columns',None)

In [7]:
df.head()

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,native_lang,available_lang,comments,duration,topics,related_talks,url,description,transcript
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,en,"['ar', 'bg', 'cs', 'de', 'el', 'en', 'es', 'fa...",272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,en,"['ar', 'az', 'bg', 'bn', 'bs', 'cs', 'da', 'de...",628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."
2,7,Simplicity sells,David Pogue,{0: 'David Pogue'},{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,1920832,2006-02-24,2006-06-27,TED2006,en,"['ar', 'bg', 'de', 'el', 'en', 'es', 'fa', 'fr...",124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,53,Greening the ghetto,Majora Carter,{0: 'Majora Carter'},{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,2664069,2006-02-26,2006-06-27,TED2006,en,"['ar', 'bg', 'bn', 'ca', 'cs', 'de', 'en', 'es...",219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...
4,66,Do schools kill creativity?,Sir Ken Robinson,{0: 'Sir Ken Robinson'},"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",65051954,2006-02-25,2006-06-27,TED2006,en,"['af', 'ar', 'az', 'be', 'bg', 'bn', 'ca', 'cs...",4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
talk_id,4005.0,1.243254e+04,1.744758e+04,1.0,1252.0,2333.0,23777.0,62794.0
views,4005.0,2.148006e+06,3.451226e+06,0.0,882069.0,1375508.0,2133110.0,65051954.0
comments,3350.0,1.619970e+02,2.688389e+02,0.0,38.0,89.0,188.0,6449.0
duration,4005.0,7.240112e+02,3.617755e+02,60.0,393.0,738.0,974.0,3922.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4005 entries, 0 to 4004
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   talk_id         4005 non-null   int64
 1   title           4005 non-null   object
 2   speaker_1       4005 non-null   object
 3   all_speakers    4001 non-null   object
 4   occupations     3483 non-null   object
 5   about_speakers  3502 non-null   object
 6   views           4005 non-null   int64
 7   recorded_date   4004 non-null   object
 8   published_date  4005 non-null   object
 9   event           4005 non-null   object
 10  native_lang     4005 non-null   object
 11  available_lang  4005 non-null   object
 12  comments        3350 non-null   float64
 13  duration        4005 non-null   int64
 14  topics          4005 non-null   object
 15  related_talks   4005 non-null   object
 16  url             4005 non-null   object
 17  description     4005 non-null   object
 18  transcript      4005 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 594.6+ KB

In [10]:
df.isnull().sum()

talk_id             0
title               0
speaker_1           0
all_speakers        4
occupations       522
about_speakers    503
views               0
recorded_date       1
published_date      0
event               0
native_lang         0
available_lang      0
comments          655
duration            0
topics              0
related_talks       0
url                 0
description         0
transcript          0
dtype: int64

## Feature engineering

In [11]:
df.drop(['talk_id','all_speakers', 'about_speakers','event','native_lang','url'], axis=1, inplace=True)

In [12]:
df["comments"].fillna(df["comments"].median(), axis = 0, inplace = True)
df.drop(df[df['views'] <= 1000].index, inplace = True)
df.drop(df[df['comments'] <= 0].index, inplace = True)
df["comments"].fillna(df["comments"].median(), axis = 0, inplace = True)

In [13]:
df.isnull().sum()

title               0
speaker_1           0
occupations       521
views               0
recorded_date       1
published_date      0
available_lang      0
comments            0
duration            0
topics              0
related_talks       0
description         0
transcript          0
dtype: int64

In [14]:
df['recorded_date'].fillna(df['recorded_date'].mode()[0],inplace=True)

In [15]:
df.dtypes

title              object
speaker_1          object
occupations        object
views               int64
recorded_date      object
published_date     object
available_lang     object
comments          float64
duration            int64
topics             object
related_talks      object
description        object
transcript         object
dtype: object

In [16]:
df['published_date'] = df['published_date'].apply(lambda x: dt.datetime.strptime(x,"%Y-%m-%d"))

# Making seperate column for day, month and year of upload.
df['year'] = df['published_date'].dt.year
df['month'] = df['published_date'].dt.month
df['day'] = df["published_date"].dt.day_name()

# storing weekdays in order of numbers from 0 to 6.
daydict = {'Sunday' : 0, 'Monday' : 1, 'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6}

# making new column holding information of day number.
df['daynum'] = df['day'].map(daydict)

# making a column weekdays_weekend that would hold 1 
# if the video is uploaded on a weekend, otherwise 0. 
df['weekdays_weekend'] = df['day'].apply(lambda x : 1 if x=='Saturday' or x=='Sunday' else 0 )

In [17]:
df["available_lang_count"] = df["available_lang"].apply(lambda x: len(eval(x)))

In [18]:
# Calculating year recency of a video.
df["year_recency"] = 2021 - df["year"]

# Calculating per annum views.
df["per_annum_views"] = df["views"]//df["year_recency"]

In [19]:
# Lets understand the sentiment of the title and encode 
# We can divide title into three categories: Highly Attractive:2, Medium Attractive:1, Least Attractive:0
def text_process(text):
    nopunc =[char for char in text if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return ' '.join([word for word in nopunc.split() if word.lower() not in stopwords.words('english')])

df['title'] = df['title'].apply(text_process)

highly=''
for k in df[(df['views']>0.8*10**7)]['title'].values:
  highly=highly+' '+k
highly_attractive=set(highly.split())

medium=''
for k in df[(df['views']>=0.4*10**7) & (df['views']<=0.8*10**7)]['title'].values:
  medium=medium+' '+k
medium_attractive=set(medium.split())

least=''
for k in df[(df['views']<0.4*10**7)]['title'].values:
  least=least+' '+k
least_attractive=set(least.split())

highly_attractive_words=highly_attractive-highly_attractive.intersection(medium_attractive)-highly_attractive.intersection(least_attractive)
medium_attractive_words=medium_attractive-medium_attractive.intersection(highly_attractive)-medium_attractive.intersection(least_attractive)
least_attractive_words=least_attractive-least_attractive.intersection(medium_attractive)-least_attractive.intersection(highly_attractive)

title_cat=[]
for k in df.title:
  least_attractive_words_match=len(list(set(k.split()).intersection(least_attractive_words)))
  medium_attractive_words_match=len(list(set(k.split()).intersection(medium_attractive_words)))
  highly_attractive_words_match=len(list(set(k.split()).intersection(highly_attractive_words)))

  if (least_attractive_words_match>medium_attractive_words_match) & (least_attractive_words_match>highly_attractive_words_match):
    title_cat.append(0)
  elif (medium_attractive_words_match>least_attractive_words_match) & (medium_attractive_words_match>highly_attractive_words_match):
    title_cat.append(1)
  else:
    title_cat.append(2)

df['title_cat']=title_cat

In [20]:
df["topics_covered"] = df["topics"].apply(lambda x: len(eval(x)))

In [21]:
d = {}

# iterating over the rows to get the list of topics for a talk.
for row in df.index:
    list_of_topics = df["topics"][row]
    list_of_topics = list_of_topics.strip('][').split(', ')
    
    # Iterating over topics list and adding every occurance of a topic to 'd'.
    for topic in list_of_topics:
        topic = topic[1:len(topic)-1]
        d[topic] = d.get(topic, 0) + 1
def weight_of_topic(x):
    x = eval(x)
    for i in range(len(x)):
        x[i] = d[str(x[i])]
    weight = sum(x)
    return weight

# Calculating topic weights of all talks and adding it to a new column.  
df["topics_weight"] = df["topics"].apply(lambda x: weight_of_topic(x))

In [22]:
df.drop(['title'],axis=1,inplace=True)

In [23]:
df.drop(columns=['year','day','related_talks','recorded_date','published_date','available_lang','occupations','speaker_1','topics','description','transcript'],inplace=True)

In [24]:
df.head()

,views,comments,duration,month,daynum,weekdays_weekend,available_lang_count,year_recency,per_annum_views,title_cat,topics_covered,topics_weight
0,3523392,272.0,977,6,2,0,43,15,234892,0,9,3844
1,14501685,628.0,1190,6,2,0,49,15,966779,2,11,1867
2,1920832,124.0,1286,6,2,0,26,15,128055,0,9,2001
3,2664069,219.0,1116,6,2,0,35,15,177604,0,9,1632
4,65051954,4931.0,1164,6,2,0,62,15,4336796,2,7,1767

In [25]:
df.dtypes

views                     int64
comments                float64
duration                  int64
month                     int64
daynum                    int64
weekdays_weekend          int64
available_lang_count      int64
year_recency              int64
per_annum_views           int64
title_cat                 int64
topics_covered            int64
topics_weight             int64
dtype: object

## X and y split

In [26]:
X=df.drop(columns=['views'])
y=df.views

## train test split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [28]:
# Standardization of Input Data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Model training

#### Random forest

In [29]:
# Create an instance of the RandomForestRegressor.
rf_model = RandomForestRegressor(n_estimators = 10, max_depth = 10)

# fitting the train data in model.
rf_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, n_estimators=10)

In [30]:
# predict for train data.
y_pred_train_r = rf_model.predict(X_train)

# predict for test data.
y_pred_test_r = rf_model.predict(X_test)

In [31]:
# calculating MSE
MSE_rf= mean_squared_error(y_test, y_pred_test_r)
print("MSE :",MSE_rf)

# calculating RMSE
RMSE_rf=np.sqrt(MSE_rf)
print("RMSE :",RMSE_rf)


# calculating MAE
MAE_rf= mean_absolute_error(y_test, y_pred_test_r)
print("MAE :",MAE_rf)


# calculating r2
r2_rf= r2_score((y_test), (y_pred_test_r))
print("R2 :",r2_rf)

# Calculating adjusted r2
Adjusted_R2_rf=(1-(1-r2_score((y_test), (y_pred_test_r)))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)) )
print("Adjusted R2 :", Adjusted_R2_rf )

MSE : 896388672599.8271
RMSE : 946778.0482245177
MAE : 194038.23155257414
R2 : 0.9413064142488735
Adjusted R2 : 0.9404870875442258

#### Linear regression

In [32]:
# building the model and fitting training data
reg= LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)
y_pred_train=reg.predict(X_train)

# predict for test data
y_pred_test=reg.predict(X_test)

MSE_lr= mean_squared_error((y_train), (y_pred_train))
print("MSE :",MSE_lr)

# calculating RMSE
RMSE_lr=np.sqrt(MSE_lr)
print("RMSE :",RMSE_lr)


# calculating MAE
MAE_lr= mean_absolute_error(y_train, y_pred_train)
print("MAE :",MAE_lr)


# calculating r2 and adjusted r2
r2_lr= r2_score(y_train, y_pred_train)
print("R2 :",r2_lr)
Adjusted_R2_lr = (1-(1-r2_score(y_train, y_pred_train))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)) )
print("Adjusted R2 :", Adjusted_R2_lr )

MSE : 2751800799140.605
RMSE : 1658855.2676893198
MAE : 811910.2538871628
R2 : 0.7517138557670897
Adjusted R2 : 0.7482479324338892

#### Decision tree

In [33]:
decision_regressor = DecisionTreeRegressor(max_depth=8,
                      max_features=9, max_leaf_nodes=100)
# fitting training data to the model
decision_regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8, max_features=9, max_leaf_nodes=100)

In [34]:
# predict for train data
y_pred_train_d = decision_regressor.predict(X_train)

# predict for test data
y_pred_test_d = decision_regressor.predict(X_test)

In [35]:
# calculating model score
print("Model Score:",decision_regressor.score(X_train,y_train))

# calculating MSE
MSE_d= mean_squared_error(y_train, y_pred_train_d)
print("MSE :",MSE_d)

# calculating RMSE
RMSE_d=np.sqrt(MSE_d)
print("RMSE :",RMSE_d)


# calculating MAE
MAE_d= mean_absolute_error(y_train, y_pred_train_d)
print("MAE :",MAE_d)

# calculating r2 and adjusted r2
r2_d= r2_score(y_train, y_pred_train_d)
print("R2 :",r2_d)
Adjusted_R2_d=(1-(1-r2_score(y_train, y_pred_train_d))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)) )
print("Adjusted R2 :", Adjusted_R2_d)

Model Score: 0.9822151648922735
MSE : 197112584003.54544
RMSE : 443973.62985153234
MAE : 279860.1087594056
R2 : 0.9822151648922735
Adjusted R2 : 0.9819668994275716

The highest score is obtained through the decision tree model.